.half {
  flex: 1;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  border-right: 1px solid rgb(185, 185, 185);
  border-left: 1px solid rgb(185, 185, 185);
  background-color: rgb(233, 233, 233);
  font-size: 3rem;
}

.dataResult {
  height: 5vh;
}