.half {
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  cursor: pointer;
  background-size: cover;
  border-right: 2px solid black;
  border-left: 2px solid black;
  box-sizing: border-box;
}

.bg-image {
  opacity: 0.65;
  box-shadow: none;
  position: absolute;
  height: 90vh;
  width: 50vw;
  filter: blur(2px);
  -webkit-filter: blur(2px);
  background-position: 50% 75%;
  background-size: cover;
  background-repeat: no-repeat;
}

.name {
  font-size: 3.8rem;
  font-weight: 800;
  z-index: 2;
}

.metadata {
  font-weight: 500;
  font-size: 1.8rem;
  z-index: 2;
}

.data {
  height: 4vh;
  font-weight: 500;
  font-size: 1.8rem;
  z-index: 2;
}
